<router-outlet></router-outlet>
<div class="col-12" style="padding:0 15%;">

  <textarea class="form-control" style="margin-bottom:2px ;margin-top: 15px;" placeholder="Leave a comment here"
    [(ngModel)]="formString" id="text-area" rows="10" (keyup)="onTextAreaContentUpdate($event)" [class.alert-danger]="failedToParse" ></textarea>
  <div style="margin-bottom:20px ;">
    <button class="btn btn-outline-success" (click)="beautify()" style="float: right;">Beautify</button>
  </div>
  <form>
    <div class="col-6" *ngFor="let ele of form">
      <input *ngIf="ele.item =='input'" class="{{ele.class}}" type="{{ele.type}}" value="{{ele.value}}"
        maxlength="{{ele.maxlength}}" placeholder="{{ele.placeholder}}" id="{{ele.id}}" />
      <label *ngIf="ele.item =='label'" class="{{ele.class}}" for="{{ele.for}}">{{ele.text}}</label>
      <button *ngIf="ele.item =='button'" class="{{ele.class}}" type="{{ele.type}}">{{ele.text}}</button>
      <select *ngIf="ele.item =='select'" class="{{ele.class}}">
        <option *ngFor="let option of ele.options" value="{{option.value}}"></option>
      </select>

    </div>
  </form>
</div>